{% if iaas_tf_aws.security_groups is defined %}
{% for sg, sg_data in iaas_tf_aws.security_groups.items() %}
resource "aws_security_group" "{{ sg }}" {
	name = "{{ sg }}"
	vpc_id = "${data.aws_vpc.{{ sg_data.vpc }}.id}"

{% if sg_data.ingress is defined %}
	ingress {
        from_port = {{ sg_data.ingress.from_port | default('0') }}
		to_port = {{ sg_data.ingress.to_port | default('65335') }}
        protocol = "{{ sg_data.ingress.protocol | default('all') }}"
{% if sg_data.ingress.cidr_blocks is defined %}
		cidr_blocks = [
{% for block in sg_data.ingress.cidr_blocks %}
			"{{ block }}",
{% endfor %}
		]
{% endif %}
	}
{% endif %}
{% if sg_data.egress is defined %}
	egress {
		from_port = {{ sg_data.egress.from_port | default('0') }}
        to_port = {{ sg_data.egress.to_port | default('65335') }}
        protocol = "{{ sg_data.egress.protocol | default('all') }}"
{% if sg_data.egress.cidr_blocks is defined %}
		cidr_blocks = [
{% for block in sg_data.egress.cidr_blocks %}
			"{{ block }}",
{% endfor %}
		]
{% endif %}
	}
{% endif %}
}
{% endfor %}
{% endif %}
