{% if iaas_tf_aws.vms is defined %}
# iaas_tf_aws
{% for instance_name, instance_data in iaas_tf_aws.vms.items() %}
    resource "aws_instance" "{{ instance_name }}" {
{% if instance_data.custom_ami is defined %}
        ami = "{{ lookup('vars', 'pk_aws_'+instance_data.custom_ami+'_ami').split(':')[1] | default('ami-41e80526') }}"
{% else %}
        ami = "{{ instance_data.ami | default('ami-41e80526') }}"
{% endif %}
        instance_type = "{{ instance_data.size | default('t2.micro') }}"

        tags {
            Name = "{{ instance_name }}"
        }

{% if instance_data.security_groups is defined %}
        vpc_security_group_ids = [
{% for sg in instance_data.security_groups %}
            "${aws_security_group.{{ sg }}.id}",
{% endfor %}
        ]
{% endif %}

        key_name = "{{ instance_data.pkey }}"
    }
{% endfor %}
{% endif %}
