{% if iaas_tf_ipv4_admin is defined %}
variable "ipv4_admin" {
default = [
{% for ip in iaas_tf_ipv4_admin %}
"{{ ip.ip }}/{{ ip.netmask }}"
{% if loop.index + 1 < loop.length - 1 %}
,
{% endif %}
{% endfor %}
]
}
{% endif %}
{% if ansible_env.AWS_ACCESS_KEY is defined and ansible_env.AWS_SECRET_KEY is defined %}
# env
variable "aws_access_key" {
	default = "{{ ansible_env.AWS_ACCESS_KEY }}"
}
variable "aws_secret_key" {
	default = "{{ ansible_env.AWS_SECRET_KEY }}"
}
{% elif iaas_aws_access_key is defined and iaas_aws_secret_key is defined %}
variable "aws_access_key" {
	default = "{{ iaas_aws_access_key }}"
}
variable "aws_secret_key" {
	default = "{{ iaas_aws_secret_key }}"
}
{% endif %}
