terraform {
 required_version = ">= 0.13"
  required_providers {
    libvirt = {
      source  = "dmacvicar/libvirt"
      version = "{{ iaas_tf_libvirt_provider_version }}"
    }
  }
}
provider "libvirt" {
  uri = "qemu:///system"
}
